body{
    background-image:url("/images/bg.png");
    background-size: cover;
    padding-bottom: 100px;
}

#header{
    margin-top: 70px;
    margin-bottom: 25px;
    .card-top{
        position: relative;
    }
}

.basket{
    position: absolute;
    right: 0;
    bottom:0;
    .basket-title{
        text-transform: uppercase;
        font: 400 18px Questrial;
        margin-top: 5px;
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .number{
        width: 30px;
        height: 30px;
        background-color: #242424;
        border-radius: 50%;
        line-height: 30px;
        color:#fff;
        text-align: center;
        float: right;
        margin-top: -35px;
        font-size: 15px;
        cursor: pointer;
    }
    img{
        margin-top: -12px;
        cursor: pointer;
    }
}

.menu{
    background-color: #f6f6f6;
    min-height: 54px; 
    .menu-list{
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 12px;
        li{
            float: left;
            text-transform: uppercase;
            font: 16px Questrial;
            font-family: 'Questrial', sans-serif;
            margin-right: 30px;
            line-height: 34px;
            font-weight: bold;
            a{
                color: #242424;
                cursor: pointer;
                opacity: 1;
                transition: all 0.3s;
                &:hover{
                    text-decoration: none;
                    opacity: 0.6;
                    transition: all 0.3s;
                }
            }
        }
        .dropdown-menu{
            border-radius: 0px;
            border:none;
            font-family: 'Questrial', sans-serif;
            background-color: #f6f6f6;
            margin-top: 8px;
            padding: 10px 0px 0px 0px;
            li{
                display: block;
                width: 100%;
                margin-right: 0px;
                padding: 10px;
                background-color: transparent;
                transition: all 0.3s;
                &:hover{
                    background-color: #fff;
                    transition: all 0.3s;
                    a{
                        background-color: transparent;
                    }
                }
                a{
                    font-weight: bold;
                    padding: 0px;
                    &:hover{
                        color:#242424;
                    }
                }
            }
        }
    }
}

.border-bot{
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 12px;
}

.text-content{
    margin-top: 25px;
    padding-bottom: 20px;
    p{
        font-size: 16px;
    }
}

.icon-list{
    margin-top: 255px;
    padding: 0px 15%;
    .icon{
        padding: 0px;
    }
}

.content{
    background-color: #ffffff;
    .top-image{
        width: 100%;
        background-color: #e5e5e5;
        position: relative;
        text-align: center;
        font-family: Lora;
        color: #fff;
        text-transform: uppercase;
        padding-top: 180px;
        h1{
            font-size: 80px;
            margin-bottom: 0px;
        }
        h2{
            font-weight: 400;
            font-size: 25px;
            font-family: 'Josefin Sans', sans-serif;
            margin-top: 10px;
        }
        .line{
            width: 38%;
            height: 1px;
            background-color: #ffffff;
            margin: 0 auto;
        }
        .img-bg{
            position: absolute;
            top: 0;
        }
    }
    
    .page-content{
        width: 100%;
        min-height: 200px;
        padding: 25px;
        .page-title{
            font-size:36px;
            text-transform: uppercase;
            font-weight: 400;
            color: #242424;
            font-family: Lora;
            margin-bottom: 15px;
            &:before{
                content: "";
                width:44px;
                height:7px;
                background-color: #242424;
                position: absolute;
                bottom:0px;
            }
        }
    }
}

.page-title{
    font-size:36px;
    text-transform: uppercase;
    font-weight: 400;
    color: #242424;
    font-family: Lora;
    margin-bottom: 15px;
    &:before{
        content: "";
        width:44px;
        height:7px;
        background-color: #242424;
        position: absolute;
        bottom:0px;
    }
}

.product{
    font-family: 'Questrial', sans-serif;
    margin-top: 160px;
    .item{
        text-align: center;
        margin-bottom: 50px;
        cursor: pointer;
        a{
            color:#242424;
            &:hover{
                text-decoration: none;
            }
        }
        .name{
            font-size: 20px;
            margin-top: 15px;
        }
        .price{
            font-size: 25px;
        }
        span{
            display: block;
        }
    }
}

.description{
    background-color: #f7f7f7;
    padding: 25px;
    padding-bottom: 35px;
    p{
        font-size: 16px;
        margin-top: 20px;
        font-family: 'Questrial', sans-serif;
    }
    
}
h3{
    font-size:20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #242424;
    font-family: Lora;
    margin-bottom: 15px;
    margin-top: 0px;
}

#footer{
    padding: 25px;
    padding-bottom: 45px;
    h3{
        font-size:20px;
        text-transform: uppercase;
        font-weight: 400;
        color: #242424;
        font-family: Lora;
        margin-bottom: 15px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'Questrial', sans-serif;
        font-size:16px;
        li{}
    }
    .social{
        li{
            margin-bottom: 10px;
            a{
                color:#242424;
                cursor: pointer; 
            }
        }
    }
}
.shipping-info{
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    ul{
        list-style: none;
        display: inline-table;
        padding: 0;
        margin-top: 10px;
        width: 100%;
        li{
            display: inline;
            text-align: center;
            margin: 0px 60px;
            font-size: 16px;
            opacity: 0.7;
            i{
                margin-right: 10px;
                font-size:28px;
                opacity: 0.5;
                
            }
        }
    }
}

.related{
    position: relative;
    margin-bottom: 30px;
}

.img-text{
    position: absolute;
    bottom: 15px;
    font-size:18px;
    font-family: Lora;
    font-weight: bold;
    margin-left: 15px;
    padding-right: 55px;
}

.product-item{
    .images{
        img{
            cursor: pointer;
        }
    }
    h1{
        font-weight: 400;
        padding-right: 40%;
        font-family: Lora;
        text-transform: uppercase;
    }
    .price{
        font-size: 35px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 30px;
        display: inline-block;
        .dis{
            font-size: 25px;
            opacity: 0.3;
            text-decoration: line-through;
            margin-left: 10px;
        }
    }
    .product{
        margin-top: 55px;
        margin-bottom: 25px;
    }
    .select-list{
        width: 60%;
        background-color: #eee;
        border:none;
        height: 40px;
        margin-top: 15px;
        padding: 0px 10px;
        font-size: 16px;
    }
    .number{
        width: 60px;
    }
    .number-text{
        font-size: 16px;
    }
    .add-product{
        text-transform: uppercase;
        background-color: #1abc9c;
        border:none;
        color: #fff;
        padding: 10px 25px;
        margin-top: 40px;
        font-size: 16px;
    }
    
}

.none-padding{
    padding: 0;
}

#copyright{
    background-color: #f7f7f7;
    padding: 15px 25px;
    span{
        opacity: 0.5;
    }
}

@media (max-width: 768px){
    .shipping-info{
        ul{
            li{
                display: block;
                margin: 20px 0px;
            }
        }
    }
    .product-item{
        .select-list{
            width: 100%;
        }
        .number{
            width: (60px) !important;
        }
        .add-product{
            width: 100%;
        }
    }
    .menu{
        .menu-list{
            display: none;
            li{
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                margin-right: 0px;
            }
            .active{
                background-color: #fff;
                padding: 7px 0px;
            }
            .dropdown-menu{
                background-color: #eee;
                position: relative;
                box-shadow: none;
            }
        }
    }
    body{
        padding-bottom: 0px;
    }
    #header{
        margin-top: 30px; 
        .card-top{
            img{
                margin: 0 auto;
            }
        }
    }
    .basket{
        position: relative;
        float: right;
        display: inline-block;
        .number{
            margin-top: 5px;
        }
        img{
            margin-top: 24px;
        }
    }
    .icons{
        width: 35px;
        float: left;
        margin:15px 0px 0px 0px;
        cursor: pointer;
        span{
            display:block;
            width: 35px;
            height: 2px;
            background-color: #000;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    .content{
        .top-image{
            padding-top: 45px;
            h1{
                font-size: 40px;
            }
            h2{
                margin-bottom: 20px;
                font-size: 20px;
            }
        }
    }
    .icon-list{
        margin-top: 45px;
    }
    .page-title:before{
        bottom:(-15px !important);
    }
    .product{
        margin-top: 50px;
        .col-xs-6{
            .name{
                font-size: 18px;
            }
            .price{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .description{
        h2{
            margin-bottom: 45px;
        }
    }
    #footer{
        ul{
            li:last-child{
                margin-bottom: 25px;
            }
        }
    }
    .content .page-content .page-title, .page-title{
        font-size: 25px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .shipping-info{
        ul{
            li{
                display: block;
                margin: 20px 0px;
            }
        }
    }
    .product-item{
        .select-list{
            width: 100%;
        }
        .number{
            width: (60px) !important;
        }
        .add-product{
            width: 100%;
        }
    }
    .menu{
        .menu-list{
            display: none;
            li{
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                margin-right: 0px;
            }
            .active{
                background-color: #fff;
                padding: 7px 0px;
            }
            .dropdown-menu{
                background-color: #eee;
                position: relative;
                box-shadow: none;
            }
        }
    }
    body{
        padding-bottom: 15px;
    }
    .description{
        h2{
            margin-bottom: 15px;
        }
    }
    .page-title:before{
        bottom: (0px) !important;
    }
    .product{
        margin-top: 120px;
    }
    #header{
        margin-top: 30px; 
        .card-top{
            img{
                margin: 0 auto;
            }
        }
    }
    .basket{
        position: relative;
        float: right;
        display: inline-block;
        .number{
            margin-top: 5px;
        }
        img{
            margin-top: 24px;
        }
    }
    .icons{
        width: 35px;
        float: left;
        margin:15px 0px 0px 0px;
        cursor: pointer;
        span{
            display:block;
            width: 35px;
            height: 2px;
            background-color: #000;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    .content{
        .top-image{
            padding-top: 145px;
            h1{
                font-size: 50px;
            }
            h2{
                margin-bottom: 20px;
            }
        }
    }
}