/* line 1, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
body {
  background-image: url("/images/bg.png");
  background-size: cover;
  padding-bottom: 100px; }

/* line 7, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
#header {
  margin-top: 70px;
  margin-bottom: 25px; }
  /* line 10, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #header .card-top {
    position: relative; }

/* line 15, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.basket {
  position: absolute;
  right: 0;
  bottom: 0; }
  /* line 19, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .basket .basket-title {
    text-transform: uppercase;
    font: 400 18px Questrial;
    margin-top: 5px;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer; }
  /* line 28, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .basket .number {
    width: 30px;
    height: 30px;
    background-color: #242424;
    border-radius: 50%;
    line-height: 30px;
    color: #fff;
    text-align: center;
    float: right;
    margin-top: -35px;
    font-size: 15px;
    cursor: pointer; }
  /* line 41, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .basket img {
    margin-top: -12px;
    cursor: pointer; }

/* line 47, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.menu {
  background-color: #f6f6f6;
  min-height: 54px; }
  /* line 50, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .menu .menu-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 12px; }
    /* line 55, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list li {
      float: left;
      text-transform: uppercase;
      font: 16px Questrial;
      font-family: 'Questrial', sans-serif;
      margin-right: 30px;
      line-height: 34px;
      font-weight: bold; }
      /* line 63, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .menu .menu-list li a {
        color: #242424;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s; }
        /* line 68, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
        .menu .menu-list li a:hover {
          text-decoration: none;
          opacity: 0.6;
          transition: all 0.3s; }
    /* line 75, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list .dropdown-menu {
      border-radius: 0px;
      border: none;
      font-family: 'Questrial', sans-serif;
      background-color: #f6f6f6;
      margin-top: 8px;
      padding: 10px 0px 0px 0px; }
      /* line 82, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .menu .menu-list .dropdown-menu li {
        display: block;
        width: 100%;
        margin-right: 0px;
        padding: 10px;
        background-color: transparent;
        transition: all 0.3s; }
        /* line 89, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
        .menu .menu-list .dropdown-menu li:hover {
          background-color: #fff;
          transition: all 0.3s; }
          /* line 92, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
          .menu .menu-list .dropdown-menu li:hover a {
            background-color: transparent; }
        /* line 96, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
        .menu .menu-list .dropdown-menu li a {
          font-weight: bold;
          padding: 0px; }
          /* line 99, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
          .menu .menu-list .dropdown-menu li a:hover {
            color: #242424; }

/* line 108, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.border-bot {
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 12px; }

/* line 113, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.text-content {
  margin-top: 25px;
  padding-bottom: 20px; }
  /* line 116, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .text-content p {
    font-size: 16px; }

/* line 121, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.icon-list {
  margin-top: 255px;
  padding: 0px 15%; }
  /* line 124, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .icon-list .icon {
    padding: 0px; }

/* line 129, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.content {
  background-color: #ffffff; }
  /* line 131, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .content .top-image {
    width: 100%;
    background-color: #e5e5e5;
    position: relative;
    text-align: center;
    font-family: Lora;
    color: #fff;
    text-transform: uppercase;
    padding-top: 180px; }
    /* line 140, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image h1 {
      font-size: 80px;
      margin-bottom: 0px; }
    /* line 144, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image h2 {
      font-weight: 400;
      font-size: 25px;
      font-family: 'Josefin Sans', sans-serif;
      margin-top: 10px; }
    /* line 150, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image .line {
      width: 38%;
      height: 1px;
      background-color: #ffffff;
      margin: 0 auto; }
    /* line 156, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image .img-bg {
      position: absolute;
      top: 0; }
  /* line 162, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .content .page-content {
    width: 100%;
    min-height: 200px;
    padding: 25px; }
    /* line 166, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .page-content .page-title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 400;
      color: #242424;
      font-family: Lora;
      margin-bottom: 15px; }
      /* line 173, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .content .page-content .page-title:before {
        content: "";
        width: 44px;
        height: 7px;
        background-color: #242424;
        position: absolute;
        bottom: 0px; }

/* line 185, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.page-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  color: #242424;
  font-family: Lora;
  margin-bottom: 15px; }
  /* line 192, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .page-title:before {
    content: "";
    width: 44px;
    height: 7px;
    background-color: #242424;
    position: absolute;
    bottom: 0px; }

/* line 202, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product {
  font-family: 'Questrial', sans-serif;
  margin-top: 160px; }
  /* line 205, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product .item {
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer; }
    /* line 209, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .product .item a {
      color: #242424; }
      /* line 211, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .product .item a:hover {
        text-decoration: none; }
    /* line 215, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .product .item .name {
      font-size: 20px;
      margin-top: 15px; }
    /* line 219, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .product .item .price {
      font-size: 25px; }
    /* line 222, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .product .item span {
      display: block; }

/* line 228, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.description {
  background-color: #f7f7f7;
  padding: 25px;
  padding-bottom: 35px; }
  /* line 232, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .description p {
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Questrial', sans-serif; }

/* line 239, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #242424;
  font-family: Lora;
  margin-bottom: 15px;
  margin-top: 0px; }

/* line 249, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
#footer {
  padding: 25px;
  padding-bottom: 45px; }
  /* line 252, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #footer h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #242424;
    font-family: Lora;
    margin-bottom: 15px; }
  /* line 260, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 16px; }
  /* line 269, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #footer .social li {
    margin-bottom: 10px; }
    /* line 271, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    #footer .social li a {
      color: #242424;
      cursor: pointer; }

/* line 278, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.shipping-info {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
  padding: 5px 0px; }
  /* line 283, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .shipping-info ul {
    list-style: none;
    display: inline-table;
    padding: 0;
    margin-top: 10px;
    width: 100%; }
    /* line 289, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .shipping-info ul li {
      display: inline;
      text-align: center;
      margin: 0px 60px;
      font-size: 16px;
      opacity: 0.7; }
      /* line 295, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .shipping-info ul li i {
        margin-right: 10px;
        font-size: 28px;
        opacity: 0.5; }

/* line 305, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.related {
  position: relative;
  margin-bottom: 30px; }

/* line 310, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.img-text {
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  font-family: Lora;
  font-weight: bold;
  margin-left: 15px;
  padding-right: 55px; }

/* line 322, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .images img {
  cursor: pointer; }

/* line 326, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item h1 {
  font-weight: 400;
  padding-right: 40%;
  font-family: Lora;
  text-transform: uppercase; }

/* line 332, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .price {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
  display: inline-block; }
  /* line 338, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .price .dis {
    font-size: 25px;
    opacity: 0.3;
    text-decoration: line-through;
    margin-left: 10px; }

/* line 345, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .product {
  margin-top: 55px;
  margin-bottom: 25px; }

/* line 349, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .select-list {
  width: 60%;
  background-color: #eee;
  border: none;
  height: 40px;
  margin-top: 15px;
  padding: 0px 10px;
  font-size: 16px; }

/* line 358, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .number {
  width: 60px; }

/* line 361, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .number-text {
  font-size: 16px; }

/* line 364, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.product-item .add-product {
  text-transform: uppercase;
  background-color: #1abc9c;
  border: none;
  color: #fff;
  padding: 10px 25px;
  margin-top: 40px;
  font-size: 16px; }

/* line 376, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
.none-padding {
  padding: 0; }

/* line 380, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
#copyright {
  background-color: #f7f7f7;
  padding: 15px 25px; }
  /* line 383, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #copyright span {
    opacity: 0.5; }

@media (max-width: 768px) {
  /* line 391, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .shipping-info ul li {
    display: block;
    margin: 20px 0px; }
  /* line 398, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .select-list {
    width: 100%; }
  /* line 401, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .number {
    width: 60px !important; }
  /* line 404, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .add-product {
    width: 100%; }
  /* line 409, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .menu .menu-list {
    display: none; }
    /* line 411, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list li {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      margin-right: 0px; }
    /* line 417, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list .active {
      background-color: #fff;
      padding: 7px 0px; }
    /* line 421, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list .dropdown-menu {
      background-color: #eee;
      position: relative;
      box-shadow: none; }
  /* line 428, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  body {
    padding-bottom: 0px; }
  /* line 431, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #header {
    margin-top: 30px; }
    /* line 434, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    #header .card-top img {
      margin: 0 auto; }
  /* line 439, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .basket {
    position: relative;
    float: right;
    display: inline-block; }
    /* line 443, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .basket .number {
      margin-top: 5px; }
    /* line 446, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .basket img {
      margin-top: 24px; }
  /* line 450, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .icons {
    width: 35px;
    float: left;
    margin: 15px 0px 0px 0px;
    cursor: pointer; }
    /* line 455, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .icons span {
      display: block;
      width: 35px;
      height: 2px;
      background-color: #000;
      margin-bottom: 10px; }
      /* line 461, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .icons span:last-child {
        margin-bottom: 0px; }
  /* line 467, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .content .top-image {
    padding-top: 45px; }
    /* line 469, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image h1 {
      font-size: 40px; }
    /* line 472, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image h2 {
      margin-bottom: 20px;
      font-size: 20px; }
  /* line 478, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .icon-list {
    margin-top: 45px; }
  /* line 481, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .page-title:before {
    bottom: -15px !important; }
  /* line 484, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product {
    margin-top: 50px; }
    /* line 487, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .product .col-xs-6 .name {
      font-size: 18px; }
    /* line 490, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .product .col-xs-6 .price {
      font-size: 18px;
      font-weight: bold; }
  /* line 497, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .description h2 {
    margin-bottom: 45px; }
  /* line 503, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #footer ul li:last-child {
    margin-bottom: 25px; }
  /* line 508, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .content .page-content .page-title, .page-title {
    font-size: 25px; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* line 516, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .shipping-info ul li {
    display: block;
    margin: 20px 0px; }
  /* line 523, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .select-list {
    width: 100%; }
  /* line 526, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .number {
    width: 60px !important; }
  /* line 529, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product-item .add-product {
    width: 100%; }
  /* line 534, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .menu .menu-list {
    display: none; }
    /* line 536, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list li {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      margin-right: 0px; }
    /* line 542, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list .active {
      background-color: #fff;
      padding: 7px 0px; }
    /* line 546, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .menu .menu-list .dropdown-menu {
      background-color: #eee;
      position: relative;
      box-shadow: none; }
  /* line 553, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  body {
    padding-bottom: 15px; }
  /* line 557, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .description h2 {
    margin-bottom: 15px; }
  /* line 561, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .page-title:before {
    bottom: 0px !important; }
  /* line 564, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .product {
    margin-top: 120px; }
  /* line 567, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  #header {
    margin-top: 30px; }
    /* line 570, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    #header .card-top img {
      margin: 0 auto; }
  /* line 575, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .basket {
    position: relative;
    float: right;
    display: inline-block; }
    /* line 579, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .basket .number {
      margin-top: 5px; }
    /* line 582, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .basket img {
      margin-top: 24px; }
  /* line 586, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .icons {
    width: 35px;
    float: left;
    margin: 15px 0px 0px 0px;
    cursor: pointer; }
    /* line 591, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .icons span {
      display: block;
      width: 35px;
      height: 2px;
      background-color: #000;
      margin-bottom: 10px; }
      /* line 597, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
      .icons span:last-child {
        margin-bottom: 0px; }
  /* line 603, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
  .content .top-image {
    padding-top: 145px; }
    /* line 605, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image h1 {
      font-size: 50px; }
    /* line 608, C:/Work/Fossflakes/konggulerod newstartup/styles/main.scss */
    .content .top-image h2 {
      margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */